header{
    display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.cabecalho{
    align-self: flex-end;
}
header img{
    max-width: 125px;
	max-height: 80px;
}

h1#nome{
    font-size: 40px;
	font-weight: normal;
	margin: 0 0 0 0;
    color: #2d3c49;
}
#tag{
    text-align: right;
	font-size: 1.2rem;
}

body{
    display: flex;
	flex-direction: column;
	max-width: 1050px;
	min-width: 200px;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 32px;

	font-family: "Raleway", "Times New Roman", sans-serif;
}

hr{
    width: 100%;
	height: 1px;
	background-color: #7d97ad;
}

.banner img{
    max-width: 100%;
    max-height: 100%;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.projeto{
    margin-top: 32px;
    margin-right: 10px;
    width: 31%;
    height: 300px;
	min-width: 250px;
    float: left;
    border: ridge;
}
.banner-projeto{
    width: 100%;
}
a.link-projeto{
    font-size: 0.6em;
	text-decoration: none;
}
.projeto img{
    width: 100%;
    height: 190px;
    border: 1px solid;
	border-color: #7d97ad;
}

.projeto p{
    text-align: center;
}

@media all and (max-width: 1100px) {
	body {
		margin-left: 24px;
		margin-right: 24px;
	}
}

@media all and (max-width: 800px) {
	.projeto {
		width: 45%;
		min-width: 200px;
	}
}

@media all and (max-width: 450px) {
	h1#nome {
		font-size: 30px;
	}

	.projeto {
		width: 100%;
	}
}
